body {
    background-color: rgb(68, 162, 68);
}

#box1 {
    background-color: hsl(116, 84%, 65%);
    border-radius: 10px;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: green;
    width: 300px;
    height: 150px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#button-1 {
    font-size: 2rem;
    border-radius: 10px;
    display: block;
    text-align: center;
    background-color: chartreuse;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
