body{
   background-color: yellow;
  
}

#OuterBox{
   display: grid;
   align-items: center;
   justify-content: center;
   
}
#display{
   border-radius: 5px;
   font-size: 2.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
#InnerBox{
   display: grid;
   align-items: center;
   justify-content: center;
}

#Btn1{
   background-color: black;
   border-radius: 10px;
   font-size: 2rem;
   color: yellow;
   transition: background-color 0.3s ease, color 0.3s ease; /* Apply transition to background-color and color */
}

#Btn1:hover{
   background-color: yellow;
   color: black;
}

#content{
   font-size: 1rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   max-width: fit-content;
   max-height: fit-content;
   color: black;
}