body{
  background-color: hsl(0, 0%, 0%);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;  
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h1{
    font-size: 3rem;
    color: hsl(60, 100%, 50%);
}

.choices {
    margin-bottom: 40px;
}

.choices button{
    font-size:  7rem;
    margin: 0  10px;
    max-width: 160px;
    border-radius: 150px;
    background-color: hsl(60, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover{
    background-color: hsl(60, 69%, 43%);
}

#playerDisplay, #computerDisplay{
    color: yellow;
    font-size: 2rem;
}

#resultDisplay{
    color: hsl(60, 100%, 50%);
    font-size: 5rem;
}
